/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/* Base Styles -------------------- */
* {
    /* -------Base--------------------*/
	box-sizing: border-box;
}

body {
    /* -------Base--------------------*/
	line-height: 1.6;
	color: #fff;
	margin: 0;
  background: -webkit-linear-gradient(left, #32292f, #70abaf);
  background: linear-gradient(to right, #32292f, #70abaf);
  font-family: 'Roboto', sans-serif;
}
form {

  padding: 10px 20px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  font-weight: 300;
}
fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}


h2 {
  text-align: center;
}

a {
    /* -------Base--------------------*/
	text-decoration: none;
  color: #99e1d9;
}

p {
    /* -------Base--------------------*/
	font-size: .95em;
	margin-bottom: 1.8em;
}
/* --------------------------- Button --------------------------------- */
.glow {
    width: 220px;
    height: 3em;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.glow:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow:active {
    color: #000
}

.glow:active:after {
    background: transparent;
}

.glow:hover:before {
    opacity: 1;
}

.glow:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* --------------------------- Layout Containers -------------------------- */

.container {
  display: grid;
  color: #fff;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  grid-template-areas:
  "main-header main-header"
  "signin signup"
  "main-footer main-footer";
}
.main-header {
    /* -------Base--------------------*/
	padding-top: .5em;
	padding-bottom: .5em;
  background-color: #32292f;
  /* position: fixed; */
  font-family: 'Roboto', sans-serif;
  /* z-index: 1000; */
  grid-area: main-header;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.signin {
  grid-area: signin;
  display: flex;
  align-items: center;
  justify-content: center;

}
.signup {
  grid-area: signup;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10em;
}
.main-footer {
    /* -------Base--------------------*/
	text-align: center;
  grid-area: main-footer;
}


.name {
    /* -------Base--------------------*/
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.main-footer {
    /* -------Base--------------------*/
	background-color: #32292f;
	padding: 2em 0;
	margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  height: 8em;
  /* position: fixed bottom; */
}
/* -----------------------Flex--------------------*/



.signuperror {
  color: #32292f;
}

.signupsuccess {
  color: #86db90
}

/* Media Containers*/

@media screen and (max-width: 480px) {
  html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  grid-template-areas:
  "main-header main-header"
  "signin signin"
  "signup signup"
  "main-footer main-footer";
}
  .main-header{
  		width: 100%;
  		position: fixed top;
      text-align: center;
  	}

    .signin {
    padding: 3em;
    }
    .signup {
      padding: 3em;
    }

  	.main-footer {
  		width: 100%;
  		font-size: 20px;
  		padding-bottom: 3em;
      position: fixed bottom;
  	}


  	form {
  		min-height: 50px;
  		background-color: rgba(255,255,255,0.1);
  	}

h2,
h3 {
	text-align: center;
}

}

@media (min-width: 481px) {
  /* -------Base--------------------*/
form {
  max-width: 450px;
}

	.container {
		width: 100%;
		margin: 0 auto;
  }



}
@media (min-width: 750px) {
    /* -------Base--------------------*/
    /* .container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5em;
      grid-template-areas:
      "main-header main-header"
      "signin signup"
      "main-footer main-footer";
    } */

/* -----------------------Flex--------------------*/



}
